<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تفریحی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم به پیشبینی دلیل سفر کاربران بپردازیم. برخی از کاربران مستربلیط به دلیل کاری و برخی دیگر به دلایل تفریحی به سفر می‌روند. به منظور شخصی‌سازی بیشتر و دقیق‌تر، مستربلیط قصد دارد بداند هر بلیط به چه دلیلی رزرو می‌شود.
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که تفریحی یا کاری بودن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [83]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>TripReason</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [84]:
train_data = pd.read_csv('../data/train_data.csv')
train_data.head()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837

In [85]:
test_data = pd.read_csv('../data/test_data.csv')
test_data.head()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-22 12:52:35.293,NaN,2022-08-03 17:00:00,38372770,7429183.0,3,NaN,False,1220000.0,0.0,...,اصفهان,1,ماهانVIP مانیتوردار کاوه,True,Bus,0,NaN,7ec2bc45a1a56014c60beb9e6ae72e748563f270b5961e...,855578545022,752371627
1,2022-05-16 10:55:29.397,2022-05-18 11:35:15.643,2022-05-19 17:00:00,37348034,7147402.0,5,NaN,True,2830000.0,0.0,...,قم,1,VIP 2+1 / سیستم تهویه مطبوع / تخت شو,True,Bus,1,NaN,09731a27ab7323fa8a65a5d61a6f6cdf5b127a5d89d1af...,687891042993,926996211
2,2022-02-13 16:10:33.870,NaN,2022-02-15 22:45:00,36058084,6817410.0,3,NaN,True,1480000.0,0.0,...,اردبیل,1,25 نفره (VIP),True,Bus,0,NaN,NaN,515831406373,890191812
3,2022-05-01 17:56:18.530,NaN,2022-05-06 14:30:00,37140430,7093047.0,3,NaN,False,2450000.0,0.0,...,شیراز,1,Scania VIP 2+1,True,Bus,0,NaN,NaN,349742111820,941450742
4,2022-05-19 18:40:48.760,NaN,2022-05-21 12:30:00,37393459,2789874.0,2,135424.0,True,1965500.0,0.0,...,تهران,1,3 ستاره 6 تخته كوير,NaN,Train,0,NaN,a9b7344fa6dffcd85117f3b4209a379600a66019dbfb57...,63387630789,575541645

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [86]:
# do some preprocessing 
train_data.isna().sum()
test_data.isna().sum()

Created                     0
CancelTime              36746
DepartureTime               0
BillID                      0
TicketID                    0
ReserveStatus               0
UserID                  24989
Male                        0
Price                       0
CouponDiscount              0
From                        0
To                          0
Domestic                    0
VehicleType              3377
VehicleClass            16338
Vehicle                     0
Cancel                      0
HashPassportNumber_p    42899
HashEmail               24756
BuyerMobile                 0
NationalCode                0
dtype: int64

In [87]:
cols = ['CancelTime', 'UserID', 'VehicleType', 'VehicleClass', 'HashPassportNumber_p', 'HashEmail']

for col in cols:
    most_frequent = train_data[col].value_counts().sort_values(ascending=False).index[0]
    train_data[col].fillna(most_frequent, inplace=True)
    test_data[col].fillna(most_frequent, inplace=True)
    print('All the missing values in column', col, 'are replaced with', most_frequent)
test_data.isna().sum()

All the missing values in column CancelTime are replaced with 2022-08-29 19:27:49.860
All the missing values in column UserID are replaced with 831022.0
All the missing values in column VehicleType are replaced with 4 ستاره اتوبوسي صبا
All the missing values in column VehicleClass are replaced with True
All the missing values in column HashPassportNumber_p are replaced with b282c85e9149922166f85f9c934fd300332dae0b5961424105bca6424b9acd7e21150f76763b6a776413c0026e62ac8b
All the missing values in column HashEmail are replaced with b9ff4532dffa777cc55613164bededd4b59904a364a7f1a19cad4e59

Created                 0
CancelTime              0
DepartureTime           0
BillID                  0
TicketID                0
ReserveStatus           0
UserID                  0
Male                    0
Price                   0
CouponDiscount          0
From                    0
To                      0
Domestic                0
VehicleType             0
VehicleClass            0
Vehicle                 0
Cancel                  0
HashPassportNumber_p    0
HashEmail               0
BuyerMobile             0
NationalCode            0
dtype: int64

In [88]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train_data['TripReason'] = le.fit_transform(train_data['TripReason'])
to_label = dict(zip(le.classes_, le.transform(le.classes_)))
to_class = dict(zip(le.transform(le.classes_), le.classes_))
print(to_label)
train_data.head()

{'Int': 0, 'Work': 1}

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,2022-08-29 19:27:49.860,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,4 ستاره اتوبوسي صبا,False,1,Plane,0,b282c85e9149922166f85f9c934fd300332dae0b596142...,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,2022-08-29 19:27:49.860,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,4 ستاره اتوبوسي صبا,False,0,Plane,0,b282c85e9149922166f85f9c934fd300332dae0b596142...,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,2022-08-29 19:27:49.860,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,1,Bus,0,b282c85e9149922166f85f9c934fd300332dae0b596142...,b9ff4532dffa777cc55613164bededd4b59904a364a7f1...,323657282999,667640412
3,2022-06-25 11:32:53.980,2022-08-29 19:27:49.860,2022-06-26 08:30:00,37957585,2867547.0,2,831022.0,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,True,0,Train,0,b282c85e9149922166f85f9c934fd300332dae0b596142...,b9ff4532dffa777cc55613164bededd4b59904a364a7f1...,169459057632,392476186
4,2022-06-01 11:30:53.633,2022-08-29 19:27:49.860,2022-06-02 23:00:00,37584530,7212559.0,3,831022.0,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,0,Bus,0,b282c85e9149922166f85f9c934fd300332dae0b596142...,b9ff4532dffa777cc55613164bededd4b59904a364a7f1...,408595008421,79497837

In [89]:
from sklearn.preprocessing import OrdinalEncoder

categorical_cols = train_data.select_dtypes(include = "object").columns

enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

train_data[categorical_cols] = enc.fit_transform(train_data[categorical_cols])
test_data[categorical_cols] = enc.transform(test_data[categorical_cols])
train_data.head()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,67304.0,6399.0,30182.0,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,122.0,False,1,2.0,0,493.0,6582.0,764974891906,477368495
1,38760.0,6399.0,18771.0,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,122.0,False,0,2.0,0,493.0,11560.0,27479149496,15987669
2,51508.0,6399.0,23368.0,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,725.0,True,1,0.0,0,493.0,12091.0,323657282999,667640412
3,24714.0,6399.0,12750.0,37957585,2867547.0,2,831022.0,False,40000.0,0.0,...,1,93.0,True,0,3.0,0,493.0,12091.0,169459057632,392476186
4,20079.0,6399.0,10400.0,37584530,7212559.0,3,831022.0,True,1130000.0,0.0,...,1,1340.0,True,0,0.0,0,493.0,12091.0,408595008421,79497837

In [90]:
mapping_male = {
    True: 1,
    False: 0
}

mapping_vehicle_class = {
    True: 1,
    False: 0
}

train_data['Male'] = train_data['Male'].map(mapping_male)
train_data['VehicleClass'] = train_data['VehicleClass'].map(mapping_vehicle_class)

test_data['Male'] = test_data['Male'].map(mapping_male)
test_data['VehicleClass'] = test_data['VehicleClass'].map(mapping_vehicle_class)
train_data.head()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,67304.0,6399.0,30182.0,39710203,1091777.0,5,122885.0,1,6600000.0,34425.0,...,1,122.0,0,1,2.0,0,493.0,6582.0,764974891906,477368495
1,38760.0,6399.0,18771.0,38689463,1070902.0,5,876925.0,1,9500000.0,0.0,...,1,122.0,0,0,2.0,0,493.0,11560.0,27479149496,15987669
2,51508.0,6399.0,23368.0,39245173,7624237.0,3,916640.0,0,2000000.0,0.0,...,1,725.0,1,1,0.0,0,493.0,12091.0,323657282999,667640412
3,24714.0,6399.0,12750.0,37957585,2867547.0,2,831022.0,0,40000.0,0.0,...,1,93.0,1,0,3.0,0,493.0,12091.0,169459057632,392476186
4,20079.0,6399.0,10400.0,37584530,7212559.0,3,831022.0,1,1130000.0,0.0,...,1,1340.0,1,0,0.0,0,493.0,12091.0,408595008421,79497837

In [91]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
column_scaler = ['Created', 'CancelTime', 'DepartureTime', 'BillID', 'TicketID', 'UserID', 'Price', 'CouponDiscount', 'VehicleType', 'HashPassportNumber_p', 'HashEmail', 'BuyerMobile', 'NationalCode']
train_data[column_scaler] = scaler.fit_transform(train_data[column_scaler])
test_data[column_scaler] = scaler.transform(test_data[column_scaler])
test_data.head()

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,0.433691,0.541142,0.543930,0.626555,0.947733,3,0.843845,0,0.007096,0.000139,...,31.0,1,0.826843,1,0.0,0,0.68,0.489493,0.855590,7.684436e-10
1,-0.000014,-0.000085,0.284983,0.365762,0.906092,5,0.843845,1,0.011275,0.000139,...,202.0,1,0.236241,1,0.0,1,0.68,0.035723,0.687898,9.467985e-10
2,-0.000014,0.541142,0.027774,0.037472,0.857328,3,0.843845,1,0.007771,0.000139,...,16.0,1,0.024461,1,0.0,0,0.68,0.725925,0.515834,9.092079e-10
3,-0.000014,0.541142,0.240377,0.312927,0.898060,3,0.843845,0,0.010289,0.000139,...,175.0,1,0.215964,1,0.0,0,0.68,0.725925,0.349740,9.615618e-10
4,-0.000014,0.541142,-0.000032,0.377322,0.262156,2,0.130684,1,0.009031,0.000139,...,80.0,1,0.028323,1,3.0,0,0.68,0.660243,0.063378,5.878361e-10

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    بر خلاف سایر تمرین‌های کالج، در این تمرین شما مجاز هستید از هر مدلی که آموخته‌اید استفاده کنید. به عبارت بهتر، هدف این سوال پیش‌بینی هرچه بهتر متغیر هدف مسئله است. انتظار ما این است که نحوه کار با کتابخانه‌های یادگیری ماشین را در حدی آموخته باشید که بتوانید با بهترین عملکرد، مسئله را حل کنید!
</font>
</p>

In [94]:
# modeling 
from sklearn.model_selection import train_test_split

x_train, x_val , y_train, y_val = train_test_split(train_data.drop('TripReason', axis=1), train_data.TripReason, random_state=313, stratify=train_data.TripReason)

In [95]:
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
base_estimator = RandomForestClassifier(class_weight='balanced', n_estimators=25)
model = AdaBoostClassifier(base_estimator=base_estimator, n_estimators=1)
model.fit(x_train, y_train)

/home/amin/Desktop/Jump Machine Learning/qenv/lib/python3.9/site-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

AdaBoostClassifier(base_estimator=RandomForestClassifier(class_weight='balanced',
                                                         n_estimators=25),
                   n_estimators=1)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه داده آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [96]:
# evaluate model
from sklearn.metrics import  f1_score, classification_report, confusion_matrix
y_pred = model.predict(x_val)
f1_score(y_val, y_pred)

0.8709205020920502

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>75%</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|TripReason|دلیل سفر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>TripReason</i> است و ۴۳۲۹۳ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>TripReason</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||TripReason|
|----|-----|
|0|Work|
|1|Work|
|2|Int|
|3|Int|
|4|Work|

</font>
</div>

In [98]:
# predict test samples
submission = pd.DataFrame()
submission['TripReason'] = model.predict(test_data)
submission.replace({0: "Int", 1: "Work"}, inplace=True)
submission

      TripReason
0            Int
1           Work
2           Work
3           Work
4           Work
...          ...
43288       Work
43289       Work
43290       Work
43291       Work
43292       Work

[43293 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [99]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)
            
submission.to_csv('submission.csv', index=False)
file_names = ['tafrihi.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['tafrihi.ipynb', 'submission.csv']