<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقادیر گم‌شده در ویژگی‌های دسته‌ای
</font>
</h1>

In [1]:
import pandas as pd
import numpy as np

/home/amin/Desktop/Jump Machine Learning/qenv/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 مجموعه‌داده
</font>
</h2>

In [2]:
data = pd.DataFrame({'A': [45, 22, 24, 14, 7, 6], 'B': ['category1', np.NaN, 'category2', 'category1', np.NaN, 'category1']})
data

    A          B
0  45  category1
1  22        NaN
2  24  category2
3  14  category1
4   7        NaN
5   6  category1

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
۱. پر کردن با متداول‌ترین دسته
</font>
</h2>

In [3]:
method1 = data.copy()
method1['B'].fillna(method1['B'].mode()[0], inplace=True)
method1

    A          B
0  45  category1
1  22  category1
2  24  category2
3  14  category1
4   7  category1
5   6  category1

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
۲. اضافه کردن متغیر وزن
</font>
</h2>

In [4]:
method2 = data.copy()
method2['B_Weight'] = np.where(method2['B'].isnull(), 1, 0)
method2['B'].fillna(method2['B'].mode()[0], inplace=True)
method2

    A          B  B_Weight
0  45  category1         0
1  22  category1         1
2  24  category2         0
3  14  category1         0
4   7  category1         1
5   6  category1         0

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
۳. ایجاد یک دسته‌ی جدید
</font>
</h2>

In [4]:
method3 = data.copy()
method3['B'].fillna('Unknown', inplace=True)
method3

    A          B
0  45  category1
1  22    Unknown
2  24  category2
3  14  category1
4   7    Unknown
5   6  category1