<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مشتریان بانک
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    وقتی اسم مشتریان بانک را می‌شنویم، شاید اولین گزینه‌ای که به ذهنمان می‌رسد همان افرادی هستند که پشت باجه‌ها صف‌های طولانی تشکیل می‌دهند؛ پس طبیعتا اگر بخواهیم با استفاده یادگیری ماشین کمکی به آن‌ها بکنیم، اولین ایده این است که پیشبینی کنیم در چه زمانی به بانک مراجعه کنند که زمان کمتری در صف منتظر بمانند!
    <br>
     اما در این تمرین از طرف بانک مامور شده‌ایم تا با تحلیل پویش‌های بازاریابی (Marketing Campaign) بانک، تخمین بزنیم در پویش‌های پیشِ رو، چه افرادی ممکن است به پویش پاسخ مثبت بدهند.
    <br>
    با سرمایه‌گذاری روی افرادی که احتمال سپرده‌گذاری آن‌ها بیشتر است، بانک می‌توان پول بیشتری را در گاوصندوق‌های خود ذخیره کند و از این طریق رتبه خود را افزایش دهد و بتواند خدمات بیشتری برای مشتریان خود ارائه کند.
    <br>
   در این تمرین اطلاعات کمپین (پویش)‌های پیشین یک بانک پرتغالی را در اختیار داریم و قصد داریم افرادی را شناسایی کنیم که به پویش فعلی پاسخ مثبت می‌هند. هدف این پویش، ایجاد «سپرده مدت دار بانکی» است.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

/home/amin/Desktop/Jump Machine Learning/qenv/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    با مجموعه داده این تمرین، در تمرین «بازاریابی بانکی» از فصل مهندسی ویژگی آشنا شده‌ایم.
    <br>
در این تمرین، مانند تمرین‌های پیشین دو مجموعه‌داده در اختیار شما قرار می‌گیرد که یکی مربوط به مجموعه آموزش و دیگری مجموعه آزمون است. 
    <br>
    در مجموعه آموزش، ۳۹۱۸۸ سطر و ۲۱ ستون وجود دارد که در جدول زیر، توضیحات ستون‌ها را با هم مرور می‌کنیم.
    <br>
    طبیعی است که مجموعه آزمون، ستون متغیرهدف را نداشته باشد و با مجموعا ۲۰ ستون در اختیار شما قرار بگیرد!
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|age|ستونی دارای مقادیر عددی که سن مشتری را نشان می‌دهد|
|job|ستونی با مقادیر دسته‌ای که وضعیت شغلی مشتری را نشان می‌دهد|
|marital|این ستون که مقادیر دسته‌ای را می‌پذیرد، وضعیت تاهل مشتری را مدل کرده است|
|education|وضعیت تحصیلی مشتری را به شکل دسته‌ای، نشان می‌دهد|
|default|نشان می‌دهد که آیا به صورت پیشفرض، مشتری اعتبار بانکی دارد یا خیر|
|housing|آیا مشتری برای مسکن، وتم گرفته است یا خیر|
|loan|آیا مشتری وام شخصی دریافت کرده است یا خیر؟|
|contact|نحوه ارتباط با مشتری را نشان می‌دهد. این ستون یکی از دو مقدار *cellular* و *telephone* را می‌تواند اختیار کند. به این معنی که بانک با تلفن همراه مشتری تماس گرفته است یا تلفن ثابت|
|month|این ستون دسته‌ای، نشان می‌دهد آخرین باری که با مشتری تماس گرفته شده است، در چه ماهی بوده است|
|day_of_week|روزی که آخرین تماس با مشتری گرفته شده است، چه روزی بوده است؟ (شنبه، یکشنبه، ...، جمعه)|
|campaign|تعداد تماس‌هایی که تا به حال با مشتری برای کمپین جاری گرفته شده است|
|pdays|تعداد روزی که از آخرین تماس با مشتری برای کمپین قبلی می‌گذرد. عدد ۹۹۹ به این معنی است که قبلا با مشتری تماس گرفته نشده است|
|previous|تعداد تماس‌هایی که با مشتری برای کمپین‌های قبلی گرفته شده است|
|poutcome|نتیجه کمپین‌های قبلی برای مشتری|
|emp.var.rate|نرخ تغییرات اشتغال در بازه سه ماهه|
|cons.price.idx|شاخص قیمت مصرف‌کننده در بازه یک ماهه|
|cons.conf.idx|شاخص اعتماد مصرف‌کننده در بازه یک ماهه|
|euribor3m|نرخ بهره بانکی برای وام‌های بین بانکی اروپایی|
|nr.employed|تعداد کارمندان در بازه سه ماهه|
|y|آیا فرد به پویش سرمایه‌گذاری بانک پاسخ مثبت داده یا خیر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش، دقیقا مانند مجموعه داده آموزش است با این تفاوت که ستون <code>y</code> را ندارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>bank_customers_train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>bank_customers_test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [2]:
train_data = pd.read_csv('../data/bank_customers_train.csv')
test_data = pd.read_csv('../data/bank_customers_test.csv')
train_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,35,blue-collar,single,high.school,NaN,no,no,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
1,52,blue-collar,married,NaN,NaN,yes,no,telephone,jun,thu,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no
2,38,services,married,high.school,NaN,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
3,44,admin.,married,university.degree,no,yes,no,telephone,oct,wed,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.735,5017.5,yes
4,25,services,divorced,basic.4y,no,yes,no,telephone,may,fri,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [3]:
# do some preprocessing
train_data.isna().sum()

age                  0
job                316
marital             79
education         1653
default           8162
housing            940
loan               940
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [4]:
cols = ['job', 'marital', 'education', 'default', 'housing', 'loan']

for col in cols:
    most_frequent = train_data[col].value_counts().sort_values(ascending=False).index[0]
    train_data[col].fillna(most_frequent, inplace=True)
    test_data[col].fillna(most_frequent, inplace=True)
    print('All the missing values in column', col, 'are replaced with', most_frequent)

All the missing values in column job are replaced with admin.
All the missing values in column marital are replaced with married
All the missing values in column education are replaced with university.degree
All the missing values in column default are replaced with no
All the missing values in column housing are replaced with yes
All the missing values in column loan are replaced with no

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train_data['y'] = le.fit_transform(train_data['y'])
to_label = dict(zip(le.classes_, le.transform(le.classes_)))
to_class = dict(zip(le.transform(le.classes_), le.classes_))
print(to_label)
train_data.head()

{'no': 0, 'yes': 1}

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,35,blue-collar,single,high.school,no,no,no,cellular,jul,thu,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,0
1,52,blue-collar,married,university.degree,no,yes,no,telephone,jun,thu,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,0
2,38,services,married,high.school,no,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,0
3,44,admin.,married,university.degree,no,yes,no,telephone,oct,wed,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.735,5017.5,1
4,25,services,divorced,basic.4y,no,yes,no,telephone,may,fri,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [7]:
from sklearn.preprocessing import OrdinalEncoder

categorical_cols = train_data.select_dtypes(include = "object").columns

enc = OrdinalEncoder()

train_data[categorical_cols] = enc.fit_transform(train_data[categorical_cols])
train_data[categorical_cols] = enc.transform(train_data[categorical_cols])
train_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,35,1.0,2.0,3.0,0.0,0.0,0.0,0.0,3.0,2.0,...,3,999,0,1.0,1.4,93.918,-42.7,4.958,5228.1,0
1,52,1.0,1.0,6.0,0.0,1.0,0.0,1.0,4.0,2.0,...,4,999,0,1.0,1.4,94.465,-41.8,4.961,5228.1,0
2,38,7.0,1.0,3.0,0.0,0.0,0.0,1.0,4.0,3.0,...,2,999,0,1.0,1.4,94.465,-41.8,4.864,5228.1,0
3,44,0.0,1.0,6.0,0.0,1.0,0.0,1.0,8.0,4.0,...,1,999,0,1.0,-3.4,92.431,-26.9,0.735,5017.5,1
4,25,7.0,0.0,0.0,0.0,1.0,0.0,1.0,6.0,0.0,...,1,999,0,1.0,1.1,93.994,-36.4,4.859,5191.0,0

In [9]:
categorical_cols_test = test_data.select_dtypes(include = "object").columns

test_data[categorical_cols_test] = enc.fit_transform(test_data[categorical_cols_test])
test_data[categorical_cols_test] = enc.transform(test_data[categorical_cols_test])
test_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,47,9.0,1.0,5.0,0.0,1.0,0.0,0.0,1.0,4.0,58,3,999,0,1.0,1.4,93.444,-36.1,4.964,5228.1
1,35,4.0,2.0,6.0,0.0,1.0,1.0,0.0,7.0,4.0,293,2,999,1,0.0,-0.1,93.200,-42.0,4.120,5195.8
2,34,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,7,5,999,0,1.0,-1.8,93.075,-47.1,1.405,5099.1
3,31,9.0,1.0,5.0,0.0,0.0,0.0,1.0,1.0,3.0,225,2,999,0,1.0,1.4,93.444,-36.1,4.963,5228.1
4,58,5.0,1.0,3.0,0.0,1.0,0.0,0.0,6.0,3.0,159,1,999,1,0.0,-1.8,92.893,-46.2,1.344,5099.1

In [10]:
"""from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = MinMaxScaler()
stand = ['previous', 'campaign', 'emp.var.rate']
train_data[stand] = scaler.fit_transform(train_data[stand])"""

train_data.describe()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
count,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,...,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000,39188.000000
mean,39.997754,3.637185,1.169491,3.707793,0.000051,0.547259,0.151654,0.366107,4.236067,2.003751,...,2.568720,962.588394,0.173191,0.929800,0.079787,93.575327,-40.499862,3.618962,5166.920478,0.112662
std,10.407876,3.549156,0.604258,2.080554,0.007144,0.497768,0.358689,0.481745,2.319313,1.397025,...,2.771971,186.631343,0.495921,0.363009,1.571619,0.579311,4.631198,1.735424,72.290033,0.316183
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,...,1.000000,999.000000,0.000000,1.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.000000,2.000000,1.000000,3.000000,0.000000,1.000000,0.000000,0.000000,4.000000,2.000000,...,2.000000,999.000000,0.000000,1.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.000000,7.000000,2.000000,6.000000,0.000000,1.000000,0.000000,1.000000,6.000000,3.000000,...,3.000000,999.000000,0.000000,1.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.000000,10.000000,2.000000,6.000000,1.000000,1.000000,1.000000,1.000000,9.000000,4.000000,...,56.000000,999.000000,7.000000,2.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدلسازی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
</font>
</p>

<h3 align=right style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    استفاده از <code>scikit-learn</code>
</font>
</h3>


<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    الگوریتم <i>رگرسیون لجستیک</i> با نام <code>AdaBoostClassifier</code> در پکیج <code>ensemble</code> این کتابخانه در دسترس است. برخی از آرگومان‌های مهم آن در جدول زیر آمده است، اما جهت مطالعه‌ی کامل‌تر مستندات می‌توانید به <a href="https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html" target="_blank">این لینک</a> مراجعه فرمایید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|آرگومان|جنس و تایپ|توضیحات|
|:------:|:--------:|:---:|
|base_estimator|<code>object</code> یا <code>None</code>|مدل تخمین‌زن پایه الگوریتم آدابوست را با این آرگومان مشخص می‌کنیم. در این آرگومان می‌توانیم مدلی مانند جنگل تصادفی قرار دهیم. اگر مقداری برای این آرگومان در نظر نگیریم، به طور پیشفرض،‌الگوریتم درخت تصمیم به عنوان تخمین‌زن پایه در نظر گرفته می‌شود.|
|n_estimators|<code>int</code>|تعداد تخمین‌زن‌های پایه که دوست داریم با هم دیگر ادغام شوند و الگوریتم آدابوست را تشکیل دهند، با این آرگومان مشخص می‌کنیم. این آرگومان به صورت پیشفرض روی عدد ۵۰ تنظیم شده است.|
|learning_rate|<code>float</code>|این آرگومان، وزن هر تخمین‌زن در هر چرخه بوستینگ را مشخص می‌کند. به عبارت بهتر آنچه این آرگومان مشخص می‌کند، تاثیر هر تخمین‌زن در خروجی مدل است. در این کتابخانه، همه تخمین‌زن‌های ساده به یک اندازه در خروجی مدل تاثیر می‌گذارند.|
|random_state|<code>int</code>|وضعیت تصادفی‌بودن تخمین‌زن‌های پایه در هر چرخه بوستینگ را با این آرگومان مشخص می‌کنیم. برای مطالعه بیشتر، می‌توانید <a href="https://scikit-learn.org/stable/glossary.html#term-random_state" target="_blank">این لینک</a> را مطالعه کنید.|


</font>
</div>
</center>

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
آموزش مدل
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در سلول زیر با استفاده از مدل آماده‌ای که در بالا شرح داده شد و به کمک تابع <code>fit</code> الگوریتم را بر روی دادگان آموزشی اجرا کنید.
</font>
</p>

In [23]:
# modeling
from sklearn.ensemble import AdaBoostClassifier

X = train_data.drop(columns=['y'])
y = train_data['y']


model = AdaBoostClassifier(n_estimators=2000, learning_rate=1, random_state=313)
model.fit(X, y)

AdaBoostClassifier(learning_rate=1, n_estimators=2000, random_state=313)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی دادگان آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>50 %</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

In [24]:
# evaluate model
from sklearn.metrics import f1_score
y_pred = model.predict(X)
f1_score(y, y_pred)

0.5524666121559008

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|y|آیا شخص به پویش بازاریابی بانک پاسخ مثبت می‌دهد یا خیر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>y</i> است و ۲۰۰۰ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، اعداد ستون <i>y</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||y|
|----|-----|
|0|1|
|1|1|
|2|0|
|3|1|
|4|0|

</font>
</div>

In [21]:
# predict test samples
submission = model.predict(test_data)
submission = pd.DataFrame(submission)
submission.rename(columns={0: 'y'}, inplace=True)
submission

      y
0     0
1     0
2     0
3     0
4     0
...  ..
1995  0
1996  0
1997  0
1998  1
1999  0

[2000 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [22]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

joblib.dump(model, 'model')
submission.to_csv('submission.csv', index=False)
file_names = ['bank_customers.ipynb', 'submission.csv', 'model']
compress(file_names)

File Paths:
['bank_customers.ipynb', 'submission.csv', 'model']