<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ØªØ´Ø®ÛŒØµ Ø¬Ù†Ø³ÛŒØª
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ù‚Ø¯Ù…Ù‡ Ùˆ ØµÙˆØ±Øª Ù…Ø³Ø¦Ù„Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ù…Ø±ÙˆØ²Ù‡ Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø¯Ù‡Ø§ÛŒ Ú¯Ø³ØªØ±Ø¯Ù‡â€ŒØ§ÛŒ Ø¯Ø§Ø±Ù†Ø¯. Ø§ÙˆÙ„ÛŒÙ† Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø¢Ù†ØŒ ØªÙØ±ÛŒØ­ Ùˆ Ø§ÙˆÙ‚Ø§Øª ÙØ±Ø§ØºØª Ø§Ø³Øª. Ø§Ù…Ø§ Ø§Ø² Ø¯ÛŒØ¯ Ø¯ÛŒÚ¯Ø±ØŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø§Ø² Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ¯Ø§ Ú©Ø±Ø¯Ù† Ø§Ù„Ú¯ÙˆÙ‡Ø§ÛŒ Ø±ÙØªØ§Ø±ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯. Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ù…Ø«Ø§Ù„ Ø¨Ø§ ØªØ­Ù„ÛŒÙ„ Ù†Ø¸Ø±Ø§Øª Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø´Ø¨Ú©Ù‡â€ŒÙ‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒÙ… Ø¶Ø¹Ùâ€ŒÙ‡Ø§ÛŒ Ú©Ø³Ø¨ Ùˆ Ú©Ø§Ø± Ø®ÙˆØ¯ Ø±Ø§ Ù¾ÛŒØ¯Ø§ Ú©Ù†ÛŒÙ….
    <br>
    Ø¬Ù†Ø³ÛŒØª ÛŒÚ©ÛŒ Ø§Ø² Ù¾Ø§Ø±Ø§Ù…ØªØ±Ù‡Ø§ÛŒ ØªØ§Ø«ÛŒØ±Ú¯Ø°Ø§Ø± Ø¯Ø± Ø±ÙØªØ§Ø± Ú©Ø§Ø±Ø¨Ø±Ø§Ù† Ø§Ø³Øª. Ø¯Ø± Ù…ÙˆØ§Ø¬Ù‡ Ø¨Ø§ ÛŒÚ© Ù…ÙˆØ¶ÙˆØ¹ØŒ Ø¨Ø§Ù†ÙˆØ§Ù† Ø¹Ù…Ø¯ØªØ§ ÛŒÚ©â€ŒØ·ÙˆØ± ÙˆØ§Ú©Ù†Ø´ Ù†Ø´Ø§Ù† Ø®ÙˆØ§Ù‡Ù†Ø¯ Ø¯Ø§Ø¯ Ùˆ Ø¢Ù‚Ø§ÛŒØ§Ù† Ù†ÛŒØ² Ø·ÙˆØ± Ø¯ÛŒÚ¯Ø±ÛŒ!
    <br>
    Ø­Ø§Ù„ Ø¯Ø± Ø§ÛŒÙ† ØªÙ…Ø±ÛŒÙ† Ù‚ØµØ¯ Ø¯Ø§Ø±ÛŒÙ… Ø¨Ø§ Ø§Ø·Ù„Ø§Ø¹Ø§ØªÛŒ Ú©Ù‡ Ø¯ÛŒØªØ§Ú© Ø§Ø² Ú©Ø§Ø±Ø¨Ø±Ø§Ù† ØªÙˆÛŒÛŒØªØ± Ùˆ Ø§ÛŒÙ†Ø³ØªØ§Ú¯Ø±Ù… Ø¯Ø± Ø§Ø®ØªÛŒØ§Ø± Ù…Ø§ Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù‡ Ø§Ø³ØªØŒ Ø¬Ù†Ø³ÛŒØª Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒÙ….
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
ÙˆØ§Ø±Ø¯ Ú©Ø±Ø¯Ù† Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø²
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø§Ø¨ØªØ¯Ø§ Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ±Ø¯ Ù†ÛŒØ§Ø²ØªØ§Ù† Ø±Ø§ ÙˆØ§Ø±Ø¯ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [132]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¹Ø±ÙÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡ Ø¢Ù…ÙˆØ²Ø´ Û¸Û°Û°Û° Ø³Ø·Ø± Ùˆ Û±Û° Ø³ØªÙˆÙ† Ø¯Ø§Ø±Ø¯. Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ±ØŒ Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ø¨ÛŒØ´ØªØ±ÛŒ Ø¯Ø± Ù…ÙˆØ±Ø¯ Ø¯Ø§Ø¯Ù‡ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª.     
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª (Ø³ØªÙˆÙ† Ù‡Ø¯Ù)|
|age|Ø¨Ø§Ø²Ù‡ Ø³Ù†ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|fullname|Ù†Ø§Ù…ÛŒ Ú©Ù‡ Ø¯Ø± Ù¾Ø±ÙˆÙØ§ÛŒÙ„ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª |
|username|Ù†Ø§Ù… Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|biography|Ø¨ÛŒÙˆÚ¯Ø±Ø§ÙÛŒ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|follower_count|ØªØ¹Ø¯Ø§Ø¯ Ø¯Ù†Ø¨Ø§Ù„â€ŒÚ©Ù†Ù†Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|following_count|ØªØ¹Ø¯Ø§Ø¯ Ø§ÙØ±Ø§Ø¯ÛŒ Ú©Ù‡ Ú©Ø§Ø±Ø¨Ø± Ø±Ø§ Ø¯Ù†Ø¨Ø§Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯|
|is_business|Ú©Ø³Ø¨â€ŒÙˆÚ©Ø§Ø±ÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_verified|ØªØ§ÛŒÛŒØ¯ Ø´Ø¯Ù‡ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_private|Ø®ØµÙˆØµÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø³ØªÙˆÙ† <code>age</code> Ù…ØªØºÛŒØ± Ù¾ÛŒÙˆØ³ØªÙ‡ Ù†ÛŒØ³ØªØ› Ø¨Ù„Ú©Ù‡ Ø¯Ø³ØªÙ‡â€ŒÙ‡Ø§ÛŒ Ø³Ù†ÛŒ Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ± Ù†Ø­ÙˆÙ‡ Ù†Ú¯Ø§Ø´Øª Ø³Ù† Ø±Ø§ Ù…Ø´Ø§Ù‡Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒÙ….
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³Ù† ÙˆØ§Ù‚Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø§Ù†|Ø¹Ø¯Ø¯ Ù†Ú¯Ø§Ø´Øª Ø´Ø¯Ù‡|
|:------:|:---:|
|1|Ú©Ù…ØªØ± Ø§Ø² Û±Û¸ Ø³Ø§Ù„|
|2|Ø§Ø² Û±Û¹ ØªØ§ Û²Û¹ Ø³Ø§Ù„|
|3|Ø§Ø² Û³Û° ØªØ§ Û´Û° Ø³Ø§Ù„|
|4|Ø¨Ø§Ù„Ø§ØªØ± Ø§Ø² Û´Û° Ø³Ø§Ù„|
    
</font>
</div>
</center>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ø®ÙˆØ§Ù†Ø¯Ù† Ù…Ø¬Ù…ÙˆØ¹Ù‡ Ø¯Ø§Ø¯Ù‡
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¯Ø± Ø§Ø¨ØªØ¯Ø§ Ù†ÛŒØ§Ø² Ø§Ø³Øª ÙØ§ÛŒÙ„â€ŒÙ‡Ø§ÛŒ Ù…Ø¬Ù…ÙˆØ¹Ù‡â€ŒØ¯Ø§Ø¯Ù‡ Ø±Ø§ Ø¨Ø®ÙˆØ§Ù†ÛŒØ¯. Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ÛŒ Ø¯Ø± ÙØ§ÛŒÙ„ <code>train_data.csv</code> Ùˆ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ø¢Ø²Ù…ÙˆÙ† Ú©Ù‡ Ø¨Ø§ÛŒØ¯ Ø¯Ø³ØªÙ‡â€ŒÛŒ Ø¢Ù†â€ŒÙ‡Ø§ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†ÛŒØ¯ Ø¯Ø± ÙØ§ÛŒÙ„ <code>test_data.csv</code> Ø°Ø®ÛŒØ±Ù‡ Ø´Ø¯Ù‡â€ŒØ§Ù†Ø¯. Ø§Ú¯Ø± Ù„Ø§Ø²Ù… Ø¯Ø§Ù†Ø³ØªÛŒØ¯ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø¨Ù‡ Ø¯Ù„Ø®ÙˆØ§Ù‡ Ø®ÙˆØ¯ Ø¨Ø®Ø´ÛŒ Ø§Ø² Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø¢Ù…ÙˆØ²Ø´ÛŒ Ø±Ø§ Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø§Ø¹ØªØ¨Ø§Ø±Ø³Ù†Ø¬ÛŒ Ù†ÛŒØ² Ø¬Ø¯Ø§ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [133]:
train = pd.read_csv('../data/train_data.csv')
test = pd.read_csv('../data/test_data.csv')
train.head()

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,man,2,Farshid,mr_gh_farshid,Ø¯Ø±Ø¯Ø§ Ú© Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø§Ø¯ÛŒÙ‡ Ø¨Ø³ÛŒØ§Ø± Ø¯ÙˆÛŒØ¯ÛŒÙ…...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,woman,2,zahr@72,zahra.roozbahani72,"Ø®ÙˆØ§Ù‡ÛŒ Ú©Ù‡ Ø²Ú©ÙˆÚ† Ø¯Ø± Ø§Ù…Ø§Ù† Ø¨Ø±Ú¯Ø±Ø¯ÛŒ\nØ¨Ø§ÛŒØ¯ Ú©Ù‡ Ø¨Ù‡ Ø¬Ø§Ù† ,...",67.0,501.0,0.0,0.0,0.0
2,woman,2,ms farahnazâ™¥,___lady.farahnazi.__,"Having you, is all I wish for \nØ¯Ø§Ø´ØªÙ†ØªØŒ ØªÙ…Ø§Ù…Ù...",0.0,0.0,0.0,0.0,0.0
3,woman,1,Lena.mommy farzan,mommy.lena3361,Ø¯Ø±Ø¯ÙˆÙ†Ù‡ Ù…Ù† Ù„Ù†Ø§ Ú©ÙˆÚ†ÙˆÙ„Ùˆ,0.0,0.0,0.0,0.0,0.0
4,woman,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\nğŸ§ğŸ¼ğŸ¨âš“ï¸ğŸ¤ \n@general.m...,200.0,328.0,0.0,0.0,0.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´ Ùˆ Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¯Ø± Ø§ÛŒÙ† Ø³ÙˆØ§Ù„ Ø´Ù…Ø§ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ù‡Ø± ØªÚ©Ù†ÛŒÚ© Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´/Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ Ú©Ù‡ Ø¯Ø± ÙØµÙ„â€ŒÙ‡Ø§ÛŒ Ú¯Ø°Ø´ØªÙ‡ Ø¢Ù…ÙˆØ®ØªÛŒØ¯ØŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.
    <br>
    ØªÚ©Ù†ÛŒÚ©â€ŒÙ‡Ø§ÛŒÛŒ Ú©Ù‡ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒâ€ŒÚ©Ù†ÛŒØ¯ Ø¨Ù‡ Ø´Ú©Ù„ Ù…Ø³ØªÙ‚ÛŒÙ… Ù…ÙˆØ±Ø¯ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ ØªÙˆØ³Ø· Ø³Ø§Ù…Ø§Ù†Ù‡ Ø¯Ø§ÙˆØ±ÛŒ Ù‚Ø±Ø§Ø± <b>Ù†Ù…ÛŒâ€ŒÚ¯ÛŒØ±Ù†Ø¯.</b> Ø¨Ù„Ú©Ù‡ Ù‡Ù…Ù‡ Ø¢Ù†â€ŒÙ‡Ø§ Ø¯Ø± Ø¯Ù‚Øª Ù…Ø¯Ù„ Ø´Ù…Ø§ ØªØ§Ø«ÛŒØ± Ø®ÙˆØ§Ù‡Ù†Ø¯ Ú¯Ø°Ø§Ø´ØªØ› Ø¨Ù†Ø§Ø¨Ø±Ø§ÛŒÙ† Ù‡Ø± Ú†Ù‡ Ù¾ÛŒØ´â€ŒÙ¾Ø±Ø¯Ø§Ø²Ø´/Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ Ø¨Ù‡ØªØ±ÛŒ Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡ÛŒØ¯ ØªØ§ Ø¯Ù‚Øª Ù…Ø¯Ù„ Ø¨Ù‡Ø¨ÙˆØ¯ Ù¾ÛŒØ¯Ø§ Ú©Ù†Ø¯ØŒ Ø§Ù…ØªÛŒØ§Ø² Ø¨ÛŒØ´ØªØ±ÛŒ Ø§Ø² Ø§ÛŒÙ† Ø³ÙˆØ§Ù„ Ú©Ø³Ø¨ Ø®ÙˆØ§Ù‡ÛŒØ¯ Ú©Ø±Ø¯.
</font>
</p>

In [134]:
# do some preprocessing :)
train['age'].value_counts()

2    3429
3    3371
4    1036
1     164
Name: age, dtype: int64

In [135]:
most_frequent = train['is_business'].value_counts().sort_values(ascending=False).index[0]
train['is_business'].fillna(most_frequent, inplace=True)

In [136]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['gender'] = le.fit_transform(train['gender'])
to_label = dict(zip(le.classes_, le.transform(le.classes_)))
to_class = dict(zip(le.transform(le.classes_), le.classes_))
print(to_label)
train.head()

{'man': 0, 'woman': 1}

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,0,2,Farshid,mr_gh_farshid,Ø¯Ø±Ø¯Ø§ Ú© Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø§Ø¯ÛŒÙ‡ Ø¨Ø³ÛŒØ§Ø± Ø¯ÙˆÛŒØ¯ÛŒÙ…...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,1,2,zahr@72,zahra.roozbahani72,"Ø®ÙˆØ§Ù‡ÛŒ Ú©Ù‡ Ø²Ú©ÙˆÚ† Ø¯Ø± Ø§Ù…Ø§Ù† Ø¨Ø±Ú¯Ø±Ø¯ÛŒ\nØ¨Ø§ÛŒØ¯ Ú©Ù‡ Ø¨Ù‡ Ø¬Ø§Ù† ,...",67.0,501.0,0.0,0.0,0.0
2,1,2,ms farahnazâ™¥,___lady.farahnazi.__,"Having you, is all I wish for \nØ¯Ø§Ø´ØªÙ†ØªØŒ ØªÙ…Ø§Ù…Ù...",0.0,0.0,0.0,0.0,0.0
3,1,1,Lena.mommy farzan,mommy.lena3361,Ø¯Ø±Ø¯ÙˆÙ†Ù‡ Ù…Ù† Ù„Ù†Ø§ Ú©ÙˆÚ†ÙˆÙ„Ùˆ,0.0,0.0,0.0,0.0,0.0
4,1,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\nğŸ§ğŸ¼ğŸ¨âš“ï¸ğŸ¤ \n@general.m...,200.0,328.0,0.0,0.0,0.0

In [137]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           8000 non-null   int64
 1   age              8000 non-null   int64
 2   fullname         8000 non-null   object
 3   username         8000 non-null   object
 4   biography        8000 non-null   object
 5   follower_count   8000 non-null   float64
 6   following_count  8000 non-null   float64
 7   is_business      8000 non-null   float64
 8   is_verified      8000 non-null   float64
 9   is_private       8000 non-null   float64
dtypes: float64(5), int64(2), object(3)
memory usage: 625.1+ KB

In [138]:
from sklearn.feature_extraction.text import CountVectorizer
import re
from hazm import WordTokenizer

tokenizer = WordTokenizer()

def my_tokenizer(text):
    result = tokenizer.tokenize(text)
    return result

cv = CountVectorizer()

X_train = train.loc[:6000, 'fullname'].values
y_train = train.loc[:6000, 'gender'].values
X_val = train.loc[6001:, 'fullname'].values
y_val = train.loc[6001:, 'gender'].values
X_test = test.loc[:, 'fullname'].values

train_vectors = cv.fit_transform(X_train)
val_vectors = cv.transform(X_val)
test_vectors = cv.transform(X_test)

print(train_vectors.shape, val_vectors.shape)

(6001, 5543) (1999, 5543)

In [139]:
train.describe()

,gender,age,follower_count,following_count,is_business,is_verified,is_private
count,8000.000000,8000.000000,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000
mean,0.500000,2.659875,2745.200250,712.20650,0.103250,0.000125,0.000125
std,0.500031,0.724228,20156.322638,1465.37601,0.304304,0.011180,0.011180
min,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.500000,3.000000,124.000000,133.00000,0.000000,0.000000,0.000000
75%,1.000000,3.000000,917.250000,681.00000,0.000000,0.000000,0.000000
max,1.000000,4.000000,845016.000000,7509.00000,1.000000,1.000000,1.000000

In [140]:
"""from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
column_scaler = ['follower_count', 'following_count']
train[column_scaler] = scaler.fit_transform(train[column_scaler])
test[column_scaler] = scaler.transform(test[column_scaler])
test.head()"""

"from sklearn.preprocessing import MinMaxScaler\n\nscaler = MinMaxScaler()\ncolumn_scaler = ['follower_count', 'following_count']\ntrain[column_scaler] = scaler.fit_transform(train[column_scaler])\ntest[column_scaler] = scaler.transform(test[column_scaler])\ntest.head()"

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¯Ù„â€ŒØ³Ø§Ø²ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø­Ø§Ù„ Ú©Ù‡ Ø¯Ø§Ø¯Ù‡ Ø±Ø§ Ù¾Ø§Ú©Ø³Ø§Ø²ÛŒ Ú©Ø±Ø¯Ù‡ Ùˆ Ø§Ø­ØªÙ…Ø§Ù„Ø§ ÙˆÛŒÚ˜Ú¯ÛŒâ€ŒÙ‡Ø§ÛŒÛŒ Ø±Ø§ Ø¨Ù‡ Ø¢Ù† Ø§ÙØ²ÙˆØ¯Ù‡ ÛŒØ§ Ø§Ø² Ø¢Ù† Ø­Ø°Ù Ú©Ø±Ø¯Ù‡â€ŒØ§ÛŒØ¯ØŒ ÙˆÙ‚Øª Ø¢Ù† Ø§Ø³Øª Ú©Ù‡ Ù…Ø¯Ù„ÛŒ Ø¢Ù…ÙˆØ²Ø´ Ø¯Ù‡ÛŒØ¯ Ú©Ù‡ Ø¨ØªÙˆØ§Ù†Ø¯ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø§ÛŒÙ† Ù…Ø³Ø¦Ù„Ù‡ Ø±Ø§ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ú©Ù†Ø¯.
</font>
</p>

In [141]:
# modeling :)
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(train_vectors, y_train)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
Ù…Ø¹ÛŒØ§Ø± Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ù…Ø¹ÛŒØ§Ø±ÛŒ Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù…Ø¯Ù„ Ø§Ù†ØªØ®Ø§Ø¨ Ú©Ø±Ø¯Ù‡â€ŒØ§ÛŒÙ…ØŒ <code>f1_score</code> Ù†Ø§Ù… Ø¯Ø§Ø±Ø¯.
    <br>
    Ø§ÛŒÙ† Ù…Ø¹ÛŒØ§Ø±ØŒ Ø³Ù†Ø¬Ù‡ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©ÛŒÙÛŒØª Ù…Ø¯Ù„ Ø´Ù…Ø§Ø³Øª. Ø¨Ù‡ Ø¹Ø¨Ø§Ø±Øª Ø¨Ù‡ØªØ± Ø¯Ø± Ø³Ø§Ù…Ø§Ù†Ù‡ Ø¯Ø§ÙˆØ±ÛŒ Ù‡Ù… Ø§Ø² Ù‡Ù…ÛŒÙ† Ù…Ø¹ÛŒØ§Ø± Ø¨Ø±Ø§ÛŒ Ù†Ù…Ø±Ù‡â€ŒØ¯Ù‡ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø´Ø¯Ù‡ Ø§Ø³Øª.
    <br>
    Ù¾ÛŒØ´Ù†Ù‡Ø§Ø¯ Ù…ÛŒâ€ŒØ´ÙˆØ¯ Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø§ÛŒÙ† Ù…Ø¹ÛŒØ§Ø±ØŒ Ø¹Ù…Ù„Ú©Ø±Ø¯ Ù…Ø¯Ù„ Ø®ÙˆØ¯ Ø±Ø§ Ø¨Ø± Ø±ÙˆÛŒ Ø¯Ø§Ø¯Ú¯Ø§Ù† Ø¢Ù…ÙˆØ²Ø´ ÛŒØ§ Ø§Ø¹ØªØ¨Ø§Ø±Ø³Ù†Ø¬ÛŒ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©Ù†ÛŒØ¯.
</font>
</p>

In [142]:
# evaluate model :)
from sklearn.metrics import f1_score, classification_report, confusion_matrix
from  sklearn.metrics  import accuracy_score

predicted = clf.predict(val_vectors)
print(f1_score(y_val,predicted))

0.7501497902935891

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>ØªÙˆØ¬Ù‡:</b></font>
<font face="vazir" size=3>
 Ø¬Ù‡Øª Ú©Ø³Ø¨ Ø§Ù…ØªÛŒØ§Ø² Ú©Ø§Ù…Ù„ Ù†ÛŒØ§Ø² Ø§Ø³Øª ØªØ§ Ù¾Ø§Ø³Ø® Ø´Ù…Ø§ Ø­Ø¯Ø§Ù‚Ù„ Ø§Ù…ØªÛŒØ§Ø² <code>75%</code> Ø±Ø§ Ø¨Ø§ ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ù…Ø¹ÛŒØ§Ø± Ù…Ø¹Ø±ÙÛŒâ€ŒØ´Ø¯Ù‡ Ú©Ø³Ø¨ Ù†Ù…Ø§ÛŒØ¯.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ø¨Ø±Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ùˆ Ø®Ø±ÙˆØ¬ÛŒ
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ù¾Ø³ Ø§Ø² Ù…Ù‡Ù†Ø¯Ø³ÛŒ ÙˆÛŒÚ˜Ú¯ÛŒ Ùˆ Ù…Ø¯Ù„Ø³Ø§Ø²ÛŒØŒ Ø§Ù„Ú¯ÙˆØ±ÛŒØªÙ…ÛŒ Ø¯Ø§Ø±ÛŒØ¯ Ú©Ù‡ Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ Ø´Ù…Ø§ Ø±Ø§ Ø§Ø² Ù…ØªØºÛŒØ±Ù‡Ø§ÛŒ Ù…Ø³ØªÙ‚Ù„ Ø¨Ù‡ Ù…ØªØºÛŒØ± Ù‡Ø¯Ù Ø¨Ø±Ø³Ø§Ù†Ø¯.
    <br>
    Ø§Ø² Ø§ÛŒÙ† Ù…Ø¯Ù„ Ø¨Ø±Ø§ÛŒ Ù¾ÛŒØ´â€ŒØ¨ÛŒÙ†ÛŒ Ù†Ù…ÙˆÙ†Ù‡â€ŒÙ‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯Ø§Ø¯Ù‡ ØªØ³Øª Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯ Ùˆ Ù†ØªØ§ÛŒØ¬ Ø±Ø§ Ø¯Ø± Ù‚Ø§Ù„Ø¨ Ø¬Ø¯ÙˆÙ„ (<code>dataframe</code>) Ø²ÛŒØ± Ø¢Ù…Ø§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª Ú©Ø§Ø±Ø¨Ø±|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    Ø§Ø³Ù… Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… Ø¨Ø§ÛŒØ¯ <i>submission</i> Ø¨Ø§Ø´Ø¯Ø› Ø¯Ø± ØºÛŒØ± Ø§ÛŒÙ† ØµÙˆØ±ØªØŒ Ø³Ø§Ù…Ø§Ù†Ù‡ Ø¯Ø§ÙˆØ±ÛŒ Ù†Ù…ÛŒâ€ŒØªÙˆØ§Ù†Ø¯ ØªÙ„Ø§Ø´â€Œ Ø´Ù…Ø§ Ø±Ø§ Ø§Ø±Ø²ÛŒØ§Ø¨ÛŒ Ú©Ù†Ø¯.
    <br>
    Ø§ÛŒÙ† Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… ØªÙ†Ù‡Ø§ Ø´Ø§Ù…Ù„ Û± Ø³ØªÙˆÙ† Ø¨Ø§ Ø§Ø³Ù… <i>gender</i> Ø§Ø³Øª Ùˆ Û²Û°Û°Û° Ø³Ø·Ø± Ø¯Ø§Ø±Ø¯.
    <br>
    Ø¨Ù‡ Ø§Ø²Ø§ÛŒ Ù‡Ø± Ø³Ø·Ø± Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… <i>test_data</i> Ø´Ù…Ø§ Ø¨Ø§ÛŒØ¯ ÛŒÚ© Ù…Ù‚Ø¯Ø§Ø± Ù¾ÛŒØ´Ø¨ÛŒÙ†ÛŒ Ø´Ø¯Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯.
    <br>
    Ø¬Ø¯ÙˆÙ„ Ø²ÛŒØ±ØŒ Ûµ Ø³Ø·Ø± Ø§Ø¨ØªØ¯Ø§ÛŒÛŒ Ø¯ÛŒØªØ§ÙØ±ÛŒÙ… <code>submission</code> Ø±Ø§ Ù†Ø´Ø§Ù† Ù…ÛŒâ€ŒØ¯Ù‡Ø¯. Ø§Ù„Ø¨ØªÙ‡ Ø¯Ø± Ø¬ÙˆØ§Ø¨ Ø´Ù…Ø§ØŒ Ù…Ù‚Ø§Ø¯ÛŒØ± Ø³ØªÙˆÙ† <i>gender</i> Ù…Ù…Ú©Ù† Ø§Ø³Øª Ù…ØªÙØ§ÙˆØª Ø¨Ø§Ø´Ø¯.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||gender|
|----|-----|
|0|woman|
|1|woman|
|2|man|
|3|woman|
|4|man|

</font>
</div>

In [143]:
# predict test samples
submission = pd.DataFrame()
submission['gender'] = clf.predict(test_vectors)
submission.replace({0: "man", 1: "woman"}, inplace=True)
submission

     gender
0     woman
1       man
2       man
3     woman
4     woman
...     ...
1995    man
1996    man
1997  woman
1998  woman
1999  woman

[2000 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>Ø³Ù„ÙˆÙ„ Ø¬ÙˆØ§Ø¨â€ŒØ³Ø§Ø²</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    Ø¨Ø±Ø§ÛŒ Ø³Ø§Ø®ØªÙ‡â€ŒØ´Ø¯Ù† ÙØ§ÛŒÙ„ <code>result.zip</code> Ø³Ù„ÙˆÙ„ Ø²ÛŒØ± Ø±Ø§ Ø§Ø¬Ø±Ø§ Ú©Ù†ÛŒØ¯. ØªÙˆØ¬Ù‡ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´ÛŒØ¯ Ú©Ù‡ Ù¾ÛŒØ´ Ø§Ø² Ø§Ø¬Ø±Ø§ÛŒ Ø³Ù„ÙˆÙ„ Ø²ÛŒØ± ØªØºÛŒÛŒØ±Ø§Øª Ø§Ø¹Ù…Ø§Ù„ Ø´Ø¯Ù‡ Ø¯Ø± Ù†Øªâ€ŒØ¨ÙˆÚ© Ø±Ø§ Ø°Ø®ÛŒØ±Ù‡ Ú©Ø±Ø¯Ù‡ Ø¨Ø§Ø´ÛŒØ¯ (<code>ctrl+s</code>) ØªØ§ Ø¯Ø± ØµÙˆØ±Øª Ù†ÛŒØ§Ø² Ø¨Ù‡ Ù¾Ø´ØªÛŒØ¨Ø§Ù†ÛŒ Ø§Ù…Ú©Ø§Ù† Ø¨Ø±Ø±Ø³ÛŒ Ú©Ø¯ Ø´Ù…Ø§ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯.
</font>
</p>

In [144]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

submission.to_csv('submission.csv', index=False)
file_names = ['gender_detection.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['gender_detection.ipynb', 'submission.csv']